.text_molitva {
    width: 50%;
    margin: auto;
    font-family: 'IrmSoUcs';
    font-size: 1.5em;
    line-height: 25px;
    margin-top: 25px;
}

.text_molitva b {
    font-family: 'IrmCUcs';
    color: red;
    font-size: 2.5em;
}