.archdiocese_content {
    text-align: center;
    background-color: #fcf4ce4a;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.archdiocese_content ul {
    padding-top: 5px;
    font-size: 2.8em;
    font-family: BLAGO;
    width: 400px;
    vertical-align: middle;
    margin: auto;
}

.archdiocese_content ul li {
    list-style: none;
}

.archdiocese_content ul a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: #000000;
}

.archdiocese_content ul a p:first-letter {
    color: red;
    font-size: 1.2em;
}
.archdiocese_content ul a p{
    border: 1px solid gray;
    border-radius: 10px;
    transition: 0.3s;
}
.archdiocese_content ul a p:hover {
    transform: scale(1.05, 1.05);
}
@media only screen and (max-width: 770px) {
    .archdiocese_content ul{
        width: 90%;
        font-size: 1.8em;
        margin-left: -25px;
    }
}